::-webkit-scrollbar{
    width: 0.8vw;
}

::-webkit-scrollbar-track{
    background: #eaeaea;
}

::-webkit-scrollbar-thumb{
    background: #000714;
    transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover{
    background: #313131;
    transition: 0.8s;
}
